/* Variables */

$alive-color: #23C9FF;

/* Footer */

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

footer {
  padding: 1em;
  text-align: center;
}

.glyphicon-heart {
  color: #FF5252;
}

/* Grid/Board */

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid #ddd;
  height: 1em;
  width: 1em;
}

.alive {
  background-color: $alive-color;

  &:hover {
    background-color: darken($alive-color, 25%);
  }
}

td:hover:not(.alive) {
  background-color: #DDD;
}

