/* Variables */

$alive-color: #23C9FF;

/* Footer */

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

footer {
  padding: 1em;
  text-align: center;
}

.glyphicon-heart {
  color: #FF5252;
}

/* Header & Description */

h1 {
  text-align: center;
}

/* Generation Counter */

#gen-counter-div {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Grid/Board */

table {
  margin: 1.5em auto;
}

td {
  border: 1px solid #ddd;
  height: 0.85em;
  width: 0.85em;
}

.alive {
  background-color: $alive-color;

  &:hover {
    background-color: darken($alive-color, 25%);
  }
}

td:hover:not(.alive) {
  background-color: #DDD;
}

/* Buttons */

#button-div {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.btn {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
